.container{
    margin-top: 10%;
}
.site-section .section-title {
    color: #fd7e14;
    font-size: 40px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-left: 49%;
  }
  .site-section .lead{
    color: grey;
    margin-left: 48%;
    width: 54%;
  }
  .site-section .text{
    margin-top: 19px;
    line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 600px) {
    .align-center{
      position: relative;
      left: -24%;
    }
  }
