.Home-below{
    margin-top: 115px;
}
.card-title {
    font-size: 1.4rem;
    color: #000;
    font-family: "Roboto", sans-serif;
  }
  .Home-below .text{
    color: grey;
    margin-top: 19px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

.Home-below .btn.btn-primary {
    background: #fd7e14;
    border-color: #fd7e14;
    color: #fff;
  }
  .Home-below .ul-check.success li::before {
    color: #71bc42;
  }
  .Home-below .form-control{
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    height: 43px;
  }
  .Home-below .btn.btn.btn-primary{
border-radius: 30px;
font-family: "Roboto", sans-serif;
height: 43px;
  }